.logo-avec{
    width: 100%;
    height: 100%;
    margin-bottom: -2%;
}

ion-list.list {
    background-color: #7900ab;
    height: 100%;
}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
    background-image:none;
}

.content-menu{
    overflow-y: hidden;
}